<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/layout.css" />
    <title>Layout Using Grid</title>
  </head>
  <body>
    <!-- <h1>Layout 1</h1>
    <hr />
    <div class="container1">
      <div class="header">Header</div>
      <div class="main">Main</div>
      <div class="sidebar">Sidebar</div>
      <div class="footer">Footer</div>
    </div>
    <h1>Layout 2</h1>
    <hr />
    <div class="container2">
      <div>item1</div>
      <div>item2</div>
      <div>item3</div>
      <div>item4</div>
      <div>item5</div>
      <div>item6</div>
      <div>item7</div>
      <div>item8</div>
    </div>
    <h1>Layout 3</h1>
    <hr />
    <div class="container3">
      <div class="header-l3">1</div>
      <div class="hero-img">2</div>
      <div class="hero-text">3</div>
      <div class="content">4</div>
      <div class="content-img">5</div>
      <div class="content-text">6</div>
      <div class="footer-l3">7</div>
    </div>-->
    <!--<h1>Layout 4</h1>
    <hr />
    <div class="container4">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div> -->
    <h1>Layout 5</h1>
    <hr />
    <div class="container5">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </body>
</html>
