/* ---- 1st Way ---- */
/* ---- 2nd Way ---- */

.grid {
  display: grid;
  /* ---- 1st Way ---- */
  /* grid-template-rows: 100px 200px; */
  /* grid-template-columns: 200px auto 150px; */

  /* ---- 2nd Way ---- */
  grid-template: [row1-start] 100px [row1-end row2-start] 100px / 200px auto 200px;

  /* ---- 1st Way ---- */
  /* grid-row-gap: 10px;
  grid-column-gap: 10px; */

  /* ---- 2nd Way ---- */
  grid-gap: 20px 10px;
}
