/* ---- 1st Way ---- */
/* ---- 2nd Way ---- */

.grid {
  display: grid;
  /* ---- Use of repeat in layouts ---- */
  grid-template:
    repeat(3, 70px) /
    repeat(12, [small] 20px [large] 40px);
  /* grid-template: 
    repeat (3, 100px) / 
    repeat(12, [col] 20px 40px); */
}
.grid div:nth-child(1) {
  grid-column: 1 / span 24;
}
.grid div:nth-child(2) {
  grid-column: small 1 / large 3;
}
.grid div:nth-child(3) {
  grid-column: auto / span 6;
}
.grid div:nth-child(4) {
  grid-column: auto / span 6;
}
.grid div:nth-child(5) {
  grid-column: auto / span 12;
}
.grid div:nth-child(6) {
  grid-column: auto / span 12;
}
