.grid {
  display: grid;
  grid-gap: 10px;
  /* grid-template: repeat(3, 100px) / repeat(3, 1fr); */
  /* grid-template: repeat(3, 100px) / 100px 1fr 1fr; */
  /* grid-template: repeat(3, 100px) / 1fr 1fr 1fr; */
  /* grid-template: repeat(3, 100px) / 1fr 2fr 1fr; */
  /* grid-template: repeat(3, 100px) / repeat(6, 1fr);   */
  /* grid-template: repeat(3, 100px) / repeat(auto-fill, 200px); */
  /* grid-template: repeat(3, 100px) / 200px auto; */

  /* grid-template: repeat(3, 100px) / 100px auto; */

  /* Horizontally Aligning Items */

  /* justify-items: stretch; */ /* Default */
  /* justify-items: start; */
  /* justify-items: end; */
  /* justify-items: center; */

  /* Vertically Aligning Items*/

  /* align-items:stretch;*/ /* Default */
  /* align-items: start; */
  /* align-items: end; */
  /* align-items: center; */

  /* Horizontally Aligning Container */

  /* justify-content: stretch;*/ /* Default */
  /* justify-content: start; */
  /* justify-content: end; */
  /* justify-content: center; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */

  /* Vertically Aligning Container */

  /* height: 400px; */
  /* border: 1px solid #fff; */
  /* align-content: stretch;*/ /* Default */
  /* align-content: start; */
  /* align-content: end; */
  /* align-content: center; */
  /* align-content: space-between; */
  /* align-content: space-around; */
  /* align-content: space-evenly; */

  /* Overriding Horizontal & Vertical Aligning with justify-self & align-self */

  grid-template: repeat(2, 150px) / repeat(3, 200px);

  border: 1px solid #fff;
  padding: 10px;
  height: 400px;
  justify-items: stretch;
  justify-content: center;
  align-content: center;
}

/* 
.grid {
  display: grid;
  ---- Use of repeat in layouts ----
  grid-template:
    repeat(3, 70px) /
    repeat(12, [small] 20px [large] 40px);
  grid-template: 
    repeat (3, 100px) / 
    repeat(12, [col] 20px 40px);
}
.grid div:nth-child(1) {
  grid-column: 1 / span 24;
}
.grid div:nth-child(2) {
  grid-column: small 1 / large 3;
}
.grid div:nth-child(3) {
  grid-column: auto / span 6;
}
.grid div:nth-child(4) {
  grid-column: auto / span 6;
}
.grid div:nth-child(5) {
  grid-column: auto / span 12;
}
.grid div:nth-child(6) {
  grid-column: auto / span 12;
} */

/* Overriding Horizontal & Vertical Aligning with justify-self & align-self */

.grid div:nth-child(1) {
  justify-self: center;
}
.grid div:nth-child(3) {
  justify-self: end;
  align-self: center;
}
.grid div:nth-child(5) {
  justify-self: center;
  align-self: start;
}
.grid div:nth-child(4) {
  justify-self: end;
  align-self: end;
}
.grid div:nth-child(6) {
  justify-self: start;
  align-self: end;
}
