/* ---- 1st Way ---- */
/* ---- 2nd Way ---- */

.grid {
  display: grid;
  grid-template: 100px 100px 100px / 200px auto 150px;
  /* period ('.') refers to empty space */
  grid-template-areas:
    'i5 . i1'
    'i2 i3 i1'
    'i4 i4 i6';
}
.grid div:nth-child(1) {
  grid-area: i1;
}
.grid div:nth-child(2) {
  grid-area: i2;
}
.grid div:nth-child(3) {
  grid-area: i3;
}
.grid div:nth-child(4) {
  grid-area: i4;
}
.grid div:nth-child(5) {
  grid-area: i5;
}
.grid div:nth-child(6) {
  grid-area: i6;
}
